html body{
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar{
    height: 80px;
    background-color: white;
    position: fixed;
    border-bottom:1px solid gray;
    width: 100vw;
}
.logo{
    height: 50px;
    width: 250px;
}
.logo__container{
    margin: 25px 0px 0px 40px;
    float: left;
}
.menu__item{
    float: right;
    margin: 25px 100px 0px 0px;
}
a{
    text-decoration: none;
    font-size: 20px;
    text-align: center;
    color: gray;
    margin-left: 50px;
}
.lead{
    background-image: url('../image/map.jpeg');
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
.lead__text{
    float: right;
    font-size: 50px;
    color: white;
    margin: 200px 100px 0px 0px;
}
.button{
    height: 45px;
    border-radius: 25px;
    width: 200px;
    font-size: 17px;
    color: rgb(23, 165, 111);
    background-color: white;
    margin: 4% 20% 40% 65%;
    border: none;
}
.focus{
    margin: 100px 300px 0px 400px;
    text-align: center;
    font-size: 20px;
}
.focus b{
    font-size: 30px;
}
.services__container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 10px;
    margin-top:30px;
    margin-left:50px;
}
.services__container .services{
    color: rgb(23, 165, 111);
    font-size: 25px;
    margin: 40px;
}
.services p{
    color:rgb(23, 165, 111);
    font-size: 100px;
    margin-right:50px; ;
}
.video__container{
    display: grid;
    grid-template-columns: auto auto;
    height: 400px;
    background-color: rgb(23, 165, 111);
    margin-top: 100px ;
}
.video__container .video{
    height: 300px;
    width:500px;
    margin:50px;
    background-color: white;
}
.video__container .video__text{
    font-size: 50px;
    margin:50px;
    color: white;
}
.video__container .watch{
    height: 45px;
    border-radius: 25px;
    width: 200px;
    font-size: 17px;
    color: rgb(23, 165, 111);
    background-color: white;
    margin: 0px 0px 0px 55px;
    border: none;
}
.technology__container{
    display: grid;
    grid-template-columns: auto auto auto;
    height:200px;
    padding:50px;
    text-align:left;
}
.technology__container .technology__picture{
    height:200px;
    width:400px;
    font-size: 20px;
    line-height: 30px;
}
.read{
    height: 55px;
    border-radius: 25px;
    width: 250px;
    font-size: 17px;
    color: rgb(23, 165, 111);
    background-color: white;
    margin: 0px 300px 50px 500px;
    border-color: rgb(23, 165, 111); 
}
.product{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-count: 10px;
    margin-right:30px;
    margin-top:50px;
}
.bottle{
    width: 250px;
    height:250px;
}
.product__container{
    border: 1px solid gray;
    margin: 20px;
    border-radius: 30px;
}
.bottle__description{
    font-size: 25px;
    text-align: center;
    margin-top: 50px;
}
hr{ 
    height: 5px;
    background-color: rgb(23, 165, 111); 
    border-radius: 30px; 
    width:99%;
    
}
.feeds__container{
   margin: 50px 0px 0px 30px;
}
.follow{
   margin:50px 400px 50px 500px;
   height: 50px;
   border-radius: 30px;
   width: 250px;
   background-color: white;
   color:gray;
   border-color: gray;
   font-size: 17px;
}
.lead2{
    background-image: url('../image/recycleBin1.jpeg');
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
}
.lead2__text{
    height: 300px;
    width: 400px;
    background-color: white;
    z-index: 1;
    position: absolute;
    margin: 50px 400px 100px 50px;
}
.p1{
    line-height: 20px;
    font-size: 17px;
    text-align: center;
    margin-top:50px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: none;
}
.lead2 p{
    text-align: center;
    font-size: 20px;
}
.color-dots i{
    color: rgb(23, 165, 111);
    font-size: 10px;
}
.footer{
    height: 400px;
    background-color: rgb(22, 21, 21);
}
.content{
    display: grid;
    grid-template-columns: auto auto auto;
    height: 150px;
    background-color: rgb(22, 21, 21);
    margin-top: 100px;
    color: white;
    font-size: 20px;
}
.footer__content{
    margin: 50px;
    line-height: 40px;
}
.subscription__container{
    height: 60px;
    background-color:white;
    width: 500px;
    margin-left: 400px;
    margin-top: 100px;
    border-radius: 50px;
    border-spacing: 0px;

}
.subscribe{
    display: inline;
   
}
.subscribe__button{
    height: 60px;
    width: 180px;
    border-top-right-radius:50px;
    border-bottom-right-radius:50px ; 
    font-size: 30px;
    background-color: black;
    color:white;
    border-left:none;
}
input{
     height:50px;
    width: 300px;
    border:none;
    border-top-left-radius:50px;
    border-bottom-left-radius:50px ; 
    font-size: 20px;
    margin-left: 10px;
}
.footer__menu{
    margin-top: 50px;
    margin-left: 350px;
}
.footer__menu a{
    margin:10px;
    color: white;
}
.sites{
    display: grid;
    grid-template-columns: auto auto auto auto;
    height:100px;
    margin: 20px 300px 0px 300px;
}
.footer__logo{
    height: 80px;
    width: 200px;
}




